dump_*/

SRA/ 

*_g1k*

*.fastq

salmon_index

salmon_count_matrices

*.gz
*.gtf
*.fa
*.idx
rsem_ref/

indices/

Homo_sapiens.GRCh38.dna.primary_assembly.fa
Homo_sapiens.GRCh38.cdna.all.fa
Homo_sapiens.GRCh38.110.gtf

HPC/job_*

*.sif
.nfs*

test_dir_rsem
test_dir

count_sd_samples/
!count_sd_samples/.gitkeep
DE_sd_samples/
!DE_sd_samples/.gitkeep

hisat2_results/
star_results/


